# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: v2
name: cluster-template-crd
description: A Helm chart for the ClusterTemplate CRD
type: application
version: 2.2.6
appVersion: 2.2.6
annotations:
  revision: 4b3b2dee8f880a59348297741d4249e63c8ce4e5
  created: "2025-11-26T21:31:43Z"
