# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: v2
name: cluster-template-crd
description: A Helm chart for the ClusterTemplate CRD
type: application
version: 2.2.4
appVersion: 2.2.4
annotations:
  revision: 6eacc1b388394b3ff9d8bd50b2118e0ce79cffd4
  created: "2025-11-11T05:50:02Z"
