# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: v2
name: cluster-template-crd
description: A Helm chart for the ClusterTemplate CRD
type: application
version: 2.2.5-dev
appVersion: 2.2.5-dev
annotations:
  revision: 34cd5c5097171cc078d9b19b4d67b50c81f975c7
  created: "2025-11-14T14:34:54Z"
