# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: v2
name: cluster-template-crd
description: A Helm chart for the ClusterTemplate CRD
type: application
version: 2.2.4
appVersion: 2.2.4
annotations:
  revision: 744607aa27bf84c2b598eb68d9d7ec98e07667c5
  created: "2025-11-11T08:17:54Z"
