# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: v2
name: cluster-template-crd
description: A Helm chart for the ClusterTemplate CRD
type: application
version: 2.2.4-dev-90fa49ef
appVersion: 2.2.4-dev-90fa49ef
annotations:
  revision: 90fa49efb62c52b714bf4610c28661cd735a5568
  created: "2025-11-04T23:51:26Z"
