# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: v2
name: cluster-template-crd
description: A Helm chart for the ClusterTemplate CRD
type: application
version: 2.2.4-dev-44608293
appVersion: 2.2.4-dev-44608293
annotations:
  revision: 446082930be7fa62ff5260577ddf8ab9a84fa78d
  created: "2025-11-04T23:52:19Z"
