# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---

name: Run service tests

permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
      - release-*
  workflow_dispatch:

jobs:
  integration-smoke-test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout orch ci
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          ref: ${{ github.head_ref }}
          persist-credentials: false

      - name: Bootstrap CI environment
        uses: open-edge-platform/orch-ci/.github/actions/bootstrap@8fc2349c02d438e1707f99343069963fb49d3eba  # 2026.0.6
        with:
          gh_token: ${{ secrets.SYS_EMF_GH_TOKEN }}

      - name: Run service test
        run: make run-service-test

      - name: Gather logs from every pod
        if: always()
        run: |
          mkdir -p service-test-logs
          for pod_and_namespace in $(kubectl get pods -A -o jsonpath='{range .items[*]}{.metadata.name}{";"}{.metadata.namespace}{"\n"}{end}'); do
            pod=$(echo "$pod_and_namespace" | awk -F';' '{print $1}')
            namespace=$(echo "$pod_and_namespace" | awk -F';' '{print $2}')
            echo "Gathering logs for pod $pod in namespace $namespace"
            kubectl logs "$pod" -n "$namespace" > "./service-test-logs/${pod}.log" || echo "Failed to get logs for $pod in namespace $namespace"
          done

      - name: Upload pod logs as evidence
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: service-test-logs
          path: service-test-logs
