# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---

name: Validate and Generate OpenAPI

on:
  pull_request:
    paths:
      - 'api/openapi/openapi.yaml'

permissions:
  contents: read

jobs:
  check-generate:
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          persist-credentials: false

      - name: Bootstrap CI environment
        uses: open-edge-platform/orch-ci/.github/actions/bootstrap@da08a06e8aec70621e50ed4aec2fac5599839f45  # 0.1.62
        with:
          gh_token: ${{ secrets.SYS_ORCH_GITHUB }}

      - name: Generate OpenAPI
        run: |
          make generate-api

      - name: Check for changes
        run: |
          if [[ `git status --porcelain` ]]; then
            echo "### Error: Changes detected after running make generate-api"
            echo "### git status --porcelain"
            git status --porcelain
            echo "### git diff"
            git diff
            echo "### Error: Changes detected after running make generate-api" >> $GITHUB_STEP_SUMMARY
            exit 1
          else
            echo "No changes detected - OpenAPI is up to date" >> $GITHUB_STEP_SUMMARY
          fi
